csound/**/*.txt *.wav
csound/dev_stohastic/skdfjlskjdf.txt
*.wav
csound/dev_stohastic/dev_stohastic.v32.txt
*.mid
*.reapeaks
csound/dev_stohastic/dump_distribution3.inc.txt
csound/dev_stohastic/dump_util.inc.txt
csound/dev_stohastic/log.txt
*.mid
csound/dev_stohastic/soundin.1
csound/dev_stohastic/soundin.10
csound/dev_stohastic/soundin.11
csound/dev_stohastic/soundin.12
*.txt
csound/dev_stohastic/soundin.13
csound/dev_stohastic/soundin.14
csound/dev_stohastic/soundin.15
csound/dev_stohastic/soundin.16
csound/dev_stohastic/soundin.17
csound/dev_stohastic/soundin.18
csound/dev_stohastic/soundin.19
csound/dev_stohastic/soundin.20
csound/dev_stohastic/soundin.21
csound/dev_stohastic/soundin.22
csound/dev_stohastic/soundin.23
csound/dev_stohastic/soundin.24
csound/dev_stohastic/soundin.25
csound/dev_stohastic/soundin.2
csound/dev_stohastic/soundin.3
csound/dev_stohastic/soundin.4
csound/dev_stohastic/soundin.5
csound/dev_stohastic/soundin.6
csound/dev_stohastic/soundin.7
csound/dev_stohastic/soundin.8
csound/dev_stohastic/soundin.9
*.wav
*.reapeaks
